# Go
auto-deploy-platform
*.exe
workspace/

# SQLite database
deploy.db
deploy.db-shm
deploy.db-wal

# Config with secrets
config.yaml

# Frontend
web/node_modules/
web/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/deploy-data/
/deploy-workspace/
/docker/
/maven-repo/
/pnpm-store/
/auto-deploy-platform.tar
/deploy-workspace/admin/cde-monorepo/dev/mult-plus-ui/develop/apps/cde-plus-ui/plus.tar.gz
/deploy-workspace/admin/cde-monorepo/dev/mult-plus-ui/develop/apps/cde-plus-ui/plus.tar.gz
